<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>NSUserTrackingUsageDescription</key>
        <string>获取IDFA以便为您推送个性化广告</string>
        <key>SKAdNetworkItems</key>
        <array>
            <dict>
                <key>SKAdNetworkIdentifier</key>
                <string>r3y5dwb26t.skadnetwork</string>
            </dict>
            <dict>
                <key>SKAdNetworkIdentifier</key>
                <string>238da6jt44.skadnetwork</string>
            </dict>
            <dict>
                <key>SKAdNetworkIdentifier</key>
                <string>x2jnk7ly8j.skadnetwork</string>
            </dict>
            <dict>
                <key>SKAdNetworkIdentifier</key>
                <string>22mmun2rn5.skadnetwork</string>
            </dict>
            <dict>
                <key>SKAdNetworkIdentifier</key>
                <string>f7s53z58qe.skadnetwork</string>
            </dict>
        </array>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>tbopen</string>
            <string>openapp.jdmobile</string>
            <string>imeituan</string>
            <string>pinduoduo</string>
            <string>youku</string>
            <string>iqiyi</string>
            <string>alipays</string>
            <string>vipshop</string>
            <string>tmall</string>
            <string>sinaweibo</string>
            <string>zhihu</string>
            <string>jdmobile</string>
            <string>autohome</string>
            <string>taobaolite</string>
            <string>taobaoliveshare</string>
            <string>eleme</string>
        </array>
    </dict>
</plist>
